/* @font-face {
    font-family: 'MyFont';
    src: url('./my-font.woff2') format('woff2'),
      url('./my-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  } */


.navigation {
  display: flex;
  justify-content: space-between;
}
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  height: 50px;
  width: 200px;

}

.burgertown {
  width: 100%;
}